body {
  font-family: "Open Sans";
  margin: 0;
  color: rgba(130, 2, 99, 1)
}

.button {
  border-radius: 3px;
  background-color: rgba(217, 3, 104, 1);
  font-family: Sniglet;
  color: #f5f5f5
}

.button:hover {
  background-color: rgba(130, 2, 99, 1);
  box-shadow: 0 0 5px #000
}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border: solid
}

td, th {
  border: thin solid
}
