<!DOCTYPE html>

<section>
  <form [formGroup]="guessForm" (ngSubmit)="isCorrect()">
    <input id="carteADeviner" type="number" placeholder="Entrez la date" required="true" formControlName="formDate">
    <button type="submit"> DEVINER</button>
  </form>

  <!--    fonction MouseOver pour cacher la réponse -->
  <div *ngIf="guessingCard" (mouseover)="changeText=true" (mouseout)="changeText=false">
    <span *ngIf="!changeText"> --?--</span>
    <span *ngIf="changeText">{{guessCardDate}}</span>
  </div>
</section>

<section>
  <div *ngIf="guessingCard">
    <h2> Carte à deviner</h2>
    <h3>{{guessingCard.name}}</h3>
    <h3><img src="{{guessingCard.imageUrl}}" alt="image de la carte"/></h3>
    <h3>{{guessingCard.description}}</h3>
  </div>

  <h2> Carte trouvées </h2>
  <div *ngFor="let cardGuessed of cardsAlreadyGuessed">
    <h3>{{cardGuessed.name}}</h3>
    <h3>{{cardGuessed.date}}</h3>
    <h3><img src="{{cardGuessed.imageUrl}}" alt="image de la carte déjà trouvée"/></h3>
    <h3>{{cardGuessed.description}}</h3>
  </div>
</section>

